.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container label {
    font-weight: 700;
    font-size: 1.3rem;
    color: black;
}

.container input {
    border-radius: 5px;
    background: transparent;
    padding: 10px 15px;
    border: none;
    border-bottom: 2.5px solid #fff;
    color: #000;
    outline: none;
}

.container input:hover {
    /* border-color: #ccc; */
}

.container input:focus {
    border: none;
    outline: 0;
    border-bottom: 2.5px solid #000;
}