.container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    /* background: linear-gradient(to right, #9900ff, #cc80ff); */
    background-image: url(".././assets/sigup.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

.innerBox {
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background: transparent;
    border: 2px solid rgba(123, 122, 122, 0.5);
    backdrop-filter: blur(30px);
    box-shadow: 12px 12px 14px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #000;
}

.heading {
    font-size: 30px;
    font-weight: bolder;
    color: black;
    text-shadow: -1px 1px #000, -2px 2px #ccc, -3px 3px #000;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .error {
    font-weight: bold;
    font-size: 0.875rem;
    color: #ff3300;
    text-align: center;
}

.footer button {
    outline: none;
    border: none;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
}

.footer button:disabled {
    background-color: gray !important;
}

.footer button:hover {
    background-color: #aa2aff;
}

.footer p {
    font-weight: 700;
    color: #000;
}

.footer p span a {
    font-weight: bold;
    color: #000;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-decoration: none;
}